@model EventiWebAPI.Models.Evento

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrizione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescrizioneBreve)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescrizioneBreve)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroPosti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroPosti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlEvento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrlEvento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlImmagine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrlImmagine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inizio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inizio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fine)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
